<ion-view view-title="" ng-init="initDetail()">
  <ion-content class="padding">
  	<div class="list card">
		<div class="item item-avatar">
		  <img ng-src="img/ionic.png">
		  <h2>{{accountInfo.fullName}}</h2>
		  <p>{{'last.time.position' | translate}}: {{accountInfo.lastUpdateLocation}}</p>
		</div>
		<div class="item item-image" ng-controller="MapCtrl" style="height: 350px" ng-init="getLocation(accountIdSelected)">
	        <map on-create="mapCreated(map)"></map>
		</div>
		<a class="item item-icon-left assertive" data-ng-click="startDirection(accountIdSelected)">
		  <i class="icon ion-android-locate"></i>
		  {{'start.direction' | translate}}
		</a>
	</div>
	
  </ion-content>>
</ion-view>
