<ion-view view-title="Tabs">
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <!-- Diary Tab -->
        <ion-tab title="{{'home.diary' | translate}}" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/app/tab/dash">
            <ion-nav-view name="tab-dash"></ion-nav-view>
        </ion-tab>
        <!-- Friends Tab -->
        <ion-tab title="{{'home.friends' | translate}}" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/app/tab/friends">
            <ion-nav-view name="tab-friends"></ion-nav-view>
        </ion-tab>
        <!-- Request Tab -->
        <ion-tab title="{{'home.request' | translate}}" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/app/tab/friends">
            <ion-nav-view name="tab-friends"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
