<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'regist.title' | translate}}</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="regist(registData)" novalidate>
      <div class="list">
        <label class="item item-input">
        	<span class="input-label">{{'regist.phone_no' | translate}}</span>
        	<input type="tel" ng-model="registData.phoneNumber" maxlength="15" valid-number required>
        </label>
        <label class="item item-input">
            <span class="input-label">{{'regist.full_name' | translate}}</span>
            <input type="text" ng-model="registData.fullName" maxlength="50">
        </label>
        <label class="item item-input">
            <span class="input-label">{{'regist.password' | translate}}</span>
            <input type="password" ng-model="registData.password" maxlength="50" required>
        </label>
        <label class="item">
            <button class="button button-block button-positive" type="submit">{{'btn.regist' | translate}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
