<ion-view view-title="Google Map" ng-init="getLocation(null)">
    <ion-nav-buttons side="right">
		<a class="button button-icon button-clear ion-android-done" ng-click="goBack('app.tabs.friends')"></a>
	</ion-nav-buttons>
    <ion-content scroll="false">
        <map on-create="mapCreated(map)" id="map-canvas"></map>
        <ion-footer-bar class="bar-stable">
            <a ng-click="getLocation()" class="button button-icon icon ion-navigate"></a>
        </ion-footer-bar>
    </ion-content>
</ion-view>
